<div class="show-sm">
    <div id="nav-toggle-box">
        <div id="nav-toggle-brand">
            <a href="/" style="text-decoration: none; color: black">paced.me</a>
        </div>
        <a id="nav-toggle"
           data-component="toggleme"
           data-target="#top">
          <i class="kube-menu"></i>
        </a>
    </div>
</div>
<div id="top" class="hide-sm">
  <div class="spacer"></div>
  <nav id="top-nav-extra">
    <ul>
      <li><a id="home" href="/">Home</a></li>
      <li><a id="resume" href="/resume">Resume</a></li>
      <li><a id="portfolio" href="/portfolio">Portfolio</a></li>
      <li><a id="contact" href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="spacer"></div>
</div>
