{% extends 'base.html.jinja' %}
{% block tags %}

  <meta http-equiv="refresh" content="3;url=/" />

{% endblock %}

{% block content %}

<div class="text-center">
  <h2 style="padding-top: 30vh">Thanks!</h2>
  <p>If you are not redirected in 5 seconds, please <a href="/">click here</a>.</p>
</div>

{% endblock %}
